
<div class="top">
    <div class="header">Cancelling Scene <b>#{{data.sceneId}}</b></div>
    <div class="subheader">
        <b>{{data.userName}}</b>, you must validate the cancellation.<br>
        Specify a reason to continue
    </div>
</div>
<div class="middle">
    <label *ngFor="let option of options">
        <input type="radio" name="reason" [value]="option.value" [(ngModel)]="reason"> {{option.content}}
    </label>
    <textarea *ngIf="reason === 'other'" [(ngModel)]="reasonText"></textarea>
</div>
<div class="bottom">
    <button class="do-not-cancel" (click)="doNotCancel()">Do not cancel</button>
    <button class="cancel" (click)="cancel()" [disabled]="!reason">Cancel this task</button>
</div>