.top {
  text-align: center;
  padding: 10px;

  .header {
    color: #666;
    font-size: 36px;
    font-weight: 300;
  }

  .subheader {
    margin-top: 20px;
    color: #D0021B;
  }
}

.middle {
  text-align: center;
  padding: 20px;
  background-color: #CCC;
  color: #623a86;
  label {
    display: inline-block;
  }
  textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    resize: none;
  }
}

.bottom {
  background-color: #CCC;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .cancel {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: #D0021B;

    &:disabled {
      color: palevioletred;
    }
  }

  .do-not-cancel {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: #623a86;
  }
}