@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.trax-icons {
    font-family: trax-icons;
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 10px;
}

.between-items-dialog {
    background-color: white;

    .mat-dialog-container {
        padding: initial;
    }
}

.inactivity-timer-dialog {
    .mat-dialog-container {
        padding: initial;
    }
}

.project-resolver-dialog {
    transition: none;
}

.cancel-task-dialog {
    .mat-dialog-container {
        padding: initial;
    }
}