.header {
  display: flex;
  background-color: #CCC;
  padding: 19.5px;

  select {
    flex: 1 0 auto;
    padding: 15px;
    background-color: white;
    color: #623a86;
    font-weight: bold;
    margin: 2px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.2);
  }
}

.body {
  padding: 19.5px 0 0 0;
  text-align: center;

  .project-name {
    font-size: 36px;
    font-weight: 300;
    color: #666;
  }

  .qcount {
    margin-top: 10px;
    color: #666;

    .qcount-number {
      font-weight: bold;
    }
  }

  .we-are-waiting-for-you {
    background-color: #623a86;
    color: white;
  }
}

.footer {
  color: #623a86;
  padding: 19.5px;
  text-align: right;
  background-color: #CCCCCC;

  .text {
    margin-right: 10px;
  }

  button {
    background-color: #804BAA;
    color: white;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 5px;

    &:disabled {
      background-color: #555555;
    }
  }
}