<div class="header">
    <select (change)="onBreak($event.target.value, data.activeProjectName)">
        <option disabled selected value="Pause / End">Pause / End</option>
        <option value="Short break">Short break</option>
        <option value="Meal break">Meal break</option>
        <option value="End of shift">End of shift</option>
    </select>
    <select (change)="onChangeProject($event.target.value)">
        <option disabled selected>Switch project</option>
        <option *ngFor="let project of data.projects" [value]="project"> {{project}}</option>
    </select>
</div>
<div class="body">
    <div class="project-name">
        Project {{data.activeProjectName}}
    </div>
    <div *ngIf="qCount > 0" class="qcount">
        Currently <span class="qcount-number">{{qCount}}</span> {{qCount > 1 ? 'tasks' : 'task'}} in queue
    </div>
    <div *ngIf="qCount === 0" class="qcount">
        No more tasks in current queue
    </div>
    <img *ngIf="qCount > 0" [src]=" weAreWaitingForYou ? '/assets/img/exceededTime.png' : '/assets/img/nextProbePlease.png'">
    <img *ngIf="qCount === 0" src="/assets/img/noMoreScenes.png">
    <div *ngIf="qCount > 0 && weAreWaitingForYou" class="we-are-waiting-for-you">We are waiting for you...</div>
</div>
<div class="footer">
    <span class="text" *ngIf="qCount > 0">Next task is ready...</span>
    <button [disabled]="qCount === 0" (click)="continue()">continue</button>
</div>
