<div class="is-header sp-flex-row">
    <div name="header-logo" class="center-container inline">
        <a class="is-header-logo sp-flex-shrink" href="{{homepageUrl}}">
            <img [src]="assetsPrefix + '/assets/img/logo-approvals.png'">
        </a>
    </div>
    <div class="is-header-actual sp-flex-grow">
        <span class="is-header-left">
            <div name="header-left" class="inline">
                <app-header-title [titleText]="activeProjectName" icon="trax-icons-project"></app-header-title>
                <app-header-title *ngIf="template" [titleText]="template"></app-header-title>
                <app-header-title [titleText]="qCount" icon="trax-icons-queue" sp-tooltip="Scene in queue"></app-header-title>
            </div>
        </span>

        <span class="is-header-right">
            <div name="header-right" class="inline">
                <span class="is-header-username trax-tst-username"
                      *ngIf="activeUser">{{ activeUser.firstName + ' ' + activeUser.lastName }}</span>
                <i (click)="onClickBackButton()" ng-click="ctrl.manager.scene && validationCtrl.cancel()"
                   class="trax-icons trax-icons-return is-header-icons trax-tst-cancel-button"
                   ng-class="{'enabled' :ctrl.manager.scene}">
                </i>
            </div>
        </span>
    </div>

</div>
<div class="is-below-header sp-flex-column">
    <div class="is-subheader sp-flex-shrink" ng-class="{'is-subheader-loading' : ui.loading}">
        <div class="is-subheader-left">
            <div name="subheader-left" class="inline">
                <div class="is-viewer-title-container">
                    <span class="is-viewer-title trax-tst-view-probe-id">
                        <span *ngIf="task">Validating Scene {{task.sceneId}}</span>
                            <i class="is-viewer-icon ionicons trax-icons trax-icons-probe"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="is-subheader-right" *ngIf="task">
            <div name="subheader-right">
                <div class="scene-probes-switch" *ngIf="task.sceneData">
                    <div class="switch" [ngClass]="{'active': probesSceneMode === 'scene'}"
                         (click)="onChangeProbeSceneMode('scene')"><u>S</u>cene
                    </div>
                    <div class="switch" [ngClass]="{'active': probesSceneMode === 'probes'}"
                         (click)="onChangeProbeSceneMode('probes')"><u>P</u>robes
                    </div>
                </div>
                <div class="zoom-controls" *ngIf="task">
                    <i (click)="onFitToScreen()" class="trax-icons trax-icons-center-canvas zoom-button"></i>
                    <i (click)="onZoomOut()" class="trax-icons trax-icons-zoom-out zoom-button"></i>
                    <span class="zoom-text">{{scale | number: '1.0-0'}}%</span>
                    <i (click)="onZoomIn()" class="trax-icons trax-icons-zoom-in zoom-button"></i>
                </div>
            </div>
        </div>

    </div>

    <div class="is-content sp-flex-grow">
        <div class="questions-panel" tabindex="0">
            <div *ngIf="task" [transition-group]="'flip-list'">
                <div appTransitionGroupItem [ngStyle]="{'z-index': -i}"
                     [ngClass]="{'selected': question === selectedQuestion, 'answered': question.isValidAnswer}"
                     class="question" *ngFor="let question of task.questions; let i = index">
                    <div class="question-summary" (click)="questionOnClick(question)">
                        <div>
                            <img class="question-icon" [src]="assetsPrefix + '/assets/img/question.svg'">
                        </div>
                        <div class="text">
                            <div class="question-text">{{question.questionDetails.questionText}}</div>
                            <div class="question-type">{{getQuestionTypeText(question.questionType)}}</div>
                        </div>
                    </div>
                    <div *ngIf="question === selectedQuestion" class="image-container" @openFromTop>
                        <div fxFlex="30px" class="facing-container" *ngIf="selectedImages.length > 1">
                            <div [class.selected]="selectedProductImageUrl === image.path" class="facing-image" *ngFor="let image of selectedImages">
                                <img  (click)="onSelectImage(image.path)"
                                      [src]="image.path+'/small'">
                            </div>

                        </div>
                        <div fxFlex class="image-inside-container" (click)="zooming()">
                            <img [src]="selectedProductImageUrl+'/original'" >
                        </div>
                    </div>
                    <div *ngIf="question === selectedQuestion" class="answers-panel">
                        <a *ngIf="selectedQuestion.lastSeenSceneId" target="_blank" [href]="selectedLastSeenUrl">last
                            seen</a>
                        <app-yes-no (onAnswer)="onAnswer($event)" [answer]="selectedQuestion.answer"
                                    *ngIf="selectedQuestion.questionType === 'YesNo' && !selectedQuestion.questionDetails.returnValue;
                                        else: radioButtonAnswer">
                        </app-yes-no>
                        <ng-template #radioButtonAnswer>
                            <app-radio-button-answer
                                    [question]="selectedQuestion.questionDetails"
                                    (onAnswer)="onAnswer($event, $event.option != AnswerOptions.NO || !selectedQuestion.questionDetails.returnValue )"
                                    [answer]="selectedQuestion.answer">
                            </app-radio-button-answer>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="probes-preview-panel" *ngIf="task && task.sceneData && probesSceneMode === 'probes'" tabindex="1">
            <div *ngFor="let probe of task.probesMegazordData"
                 (click)="onChangeSelectedProbe(probe)"
                 class="probe-preview"
                 [ngClass]="{'selected': probe === selectedProbe}">
                <img [src]="probe.compound.molecules[0].atoms[0].probe.availableLevels[0].imageStorePath">
            </div>
        </div>
        <div class="scene-display" id="canvasParent">
            <canvas appMegazordCanvas *ngIf="task && task.sceneData && probesSceneMode === 'scene'" #megazord
                    [compound]="task.megazordData.compound"
                    [masks]="masks"
                    [sceneParamsInput]="task.megazordData.sceneParams"
                    [zoomEvent]="zoomEvent"
                    [fitToScreen]="fitToScreenEvent"
                    (scaleChange)="onScaleChanged($event)"
                    (renderFinishedEvent)="onRenderFinish()"
            ></canvas>
            <canvas appMegazordCanvas *ngIf="task && probesSceneMode === 'probes' && selectedProbe" #megazord
                    [compound]="selectedProbe.compound"
                    [masks]="selectedProbeMasks"
                    [sceneParamsInput]="selectedProbe.sceneParams"
                    [zoomEvent]="zoomEvent"
                    [fitToScreen]="fitToScreenEvent"
                    (scaleChange)="onScaleChanged($event)"
                    (renderFinishedEvent)="onRenderFinish()"
            ></canvas>
        </div>
        <button class="sp-done-button"
                [disabled]="loading || !allQuestionsAnswered()"
                (click)="saveTask()">
            <span class="sp-done-hover trax-icons trax-icons-check"></span>
            <span class="sp-done-default">
                <app-relative-stopwatch [restartOn]="!loading && task" [stopper]="task">
                </app-relative-stopwatch>
            </span>
        </button>
    </div>
</div>
<div class="loading">
    <div class="sp-loading" *ngIf="loading"></div>
</div>
