.is-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 59px;
  background: #444443;
  font-size: 32px;
  color: white;
  z-index: 30;

  .is-header-logo {
    img {
      vertical-align: middle;
      height: 40px;
      margin-bottom: 7px;
    }
    background: #444443;
    font-size: 32px;
    width: 4.55em;
    font-weight: 300;
    text-align: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }

  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .is-header-actual {
    background: #555555;
    border-radius: 0 0 0 15px;
    text-align: left;
    position: relative;

    .is-header-right {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #555555;
      z-index: 5;
      .is-header-username {
        font-size: 1rem;
        margin: 0px 10px 0px 10px;
      }
    }

    .is-header-left {
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
    }
  }
}

.is-header-icons {
  position: relative;
  font-size: 1.125rem;
  margin: 8px 16px 8px 5px;

  &:hover {
    color: #D2DB2F;
    cursor: pointer;
  }

  &.trax-icons-return {
    &:before {
      position: relative;
      top: 17px;
    }
  }
}

.inline {
  display: inline;
}

.is-below-header { /* area under the header, including the subheader and content */
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;
  bottom: 0;

  .is-subheader {
    display: flex;
    justify-content: space-between;
    -webkit-transition: all 1s cubic-bezier(0, 1, 0, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0, 1, 0, 1) 0s;
    -o-transition: all 1s cubic-bezier(0, 1, 0, 1) 0s;
    transition: all 1s cubic-bezier(0, 1, 0, 1) 0s;
    min-height: 56px;
    background: #444443;
    font-size: 32px;
    color: white;
    padding: 10px;
    text-align: left;
    position: relative;
    white-space: nowrap; /* we don't want the line to break when there isn't enough room for text */

    &.is-subheader-loading {
      padding-bottom: 100vh;
    }

    .is-subheader-right {
      display: flex;
      flex: 4 5;
      justify-content: flex-end;
      right: 0;
      top: 0;
      bottom: 0;
      background: #444443;
      .is-viewer-icon {
        position: absolute;
        color: #AAA;
        left: 20px;
        bottom: 50%;
        transform: translateY(50%);
      }

      div[name="subheader-right"] {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .scene-probes-switch {
          display: flex;
          align-items: center;
          cursor: pointer;
          .switch {
            display: inline-block;
            font-size: 18px;
            margin: 5px;
            color: #aaaaaa;
            padding: 0 10px 2px 10px;
            border-bottom: 4px solid #555555;

            &.active {
              color: #eeeeee;
              border-bottom: 4px solid #0099a8;
            }
          }
        }

        .zoom-controls {
          font-size: 16px;
          padding: 0 20px 0 20px;
          color: #CCCCCC;
          display: flex;
          align-items: center;

          * {
            margin: 0 10px 0 10px;
          }

          .zoom-text {
            width: 40px;
          }

          .zoom-button {
            font-size: 26px;

            &:hover {
              color: #f5f5f5;
              background-color: #888888;
            }

            &:active {
              color: #aaaaaa;
              background: #333333;
              box-shadow: none;
            }
          }
        }
      }
    }

    .is-subheader-left {
      display: flex;
      align-items: center;
      flex: 1 1;
      min-width: 250px;
      left: 0;
      top: 0;
      bottom: 0;
      background: #444443;
    }

  }
}

.is-content {
  background: #555555 url("/assets/img/stripePattern.png");;
  color: white;
  overflow-y: hidden;
  position: relative;
  display: flex;

  .questions-panel {
    flex: 1 1;
    min-width: 250px;
    background-color: #888888;
    overflow-y: auto;

    .question {
      color: #555555;
      margin: 5px;
      font-size: 18px;

      &.selected {
        .question-summary {
          border-radius: 6px 6px 0 0;
          box-shadow: inset -0.5px -0.5px 0 0 #dddddd;
        }
      }

      &.answered {
        .question-summary {
          background-image: linear-gradient(to bottom, #9ae89a, #ddd);
        }
      }

      .question-summary {
        display: flex;
        background-color: white;
        cursor: pointer;
        border-radius: 6px;
        padding: 10px;

        .question-icon {
          margin-right: 10px;
        }

        .text {
          display: flex;
          justify-content: center;
          flex-direction: column;

          .question-type {
            color: #999999;
            font-size: 13px;
            font-style: italic;
          }

          .question-text {

          }
        }
      }

      .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #DDD;
        width: 100%;
        .facing-container{
          display: flex;
          flex-direction: row;
          max-height: 100%;
          overflow: hidden;
          padding: 5px 10px;
          background-color: white;
          .selected{
            border: solid 1px #f5005f;
          }
          :not(.selected){
            border: solid 0.5px #434343;
          }
          .facing-image{
            display: flex;
            height: 70px;
            width: 70px;

            margin-right: 10px;
            img{
              height: 60px;
              display: block;
              margin: auto;
            }
          }
        }

        .image-inside-container {
          background-color: white;
          padding: 12px;
          margin: 15px 20px;
          text-align: center;

          img {
            border: 1px solid black;
            max-width: 100%;
            max-height: 300px;
            min-height: 200px;
            cursor: zoom-in;
          }
        }
      }

      .answers-panel {
        box-shadow: inset -0.5px -0.5px 0 0 #dddddd;
        background-color: white;
        border-radius: 0 0 6px 6px;
        display: flex;
        justify-content: space-between;
        padding: 15px;

      }

    }
  }

  .probes-preview-panel {
    flex: 1 1;
    overflow-y: auto;
    background-color: #555555;

    &:focus {
      outline: 0;
    }

    .probe-preview {
      max-width: 100%;
      padding: 10px;
      cursor: pointer;

      &.selected {
        background-color: #9ae89a;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .scene-display {
    flex: 4 5;
    overflow-y: hidden;
    position: relative;
  }
}

/* flex classes for general usage */
.sp-flex-row {
  display: flex;
  flex-flow: row;

  .sp-flex-shrink {
    flex: 0 1 auto;
  }

  .sp-flex-grow {
    flex: 1 1 auto;
  }
}

.sp-flex-column {
  display: flex;
  flex-flow: column;

  .sp-flex-shrink {
    flex: 0 1 auto;
  }

  .sp-flex-grow {
    flex: 1 1 auto;
  }
}


.is-viewer-title-container {
  display: flex;
  height: 100%;
  padding-left: 10px;
  .is-viewer-icon {
    font-size: 1.375rem;
    margin-right: 6px;
    color: #AAA;
  }

  .is-viewer-title {
    color: yellow;
    position: relative;
    font-size: 1rem;
    font-weight: 300;

    .is-viewer-icon {
      position: absolute;
      color: #AAA;
      left: -40px;
      bottom: 50%;
      transform: translateY(50%);
    }

    .extra-probe-info {
      margin-left: 6px;
    }

    .extra-probe-info-masking {
      margin-right: 6px;
    }
  }

  .is-viewer-subtitle {
    font-size: 1rem;
    color: #DDD;

    .is-viewer-metadata {
      border-left-color: #DDD;
    }
  }
}

@mixin cross($property, $value) {
  -webkit-#{$property}: $value;
  -o-#{$property}: $value;
  -ms-#{$property}: $value;
  -moz-#{$property}: $value;
  #{$property}: $value;
}

@mixin keyframes($animationName) {
  @-moz-keyframes #{$animationName} { @content; }
  @-webkit-keyframes #{$animationName} { @content; }
  @-o-keyframes #{$animationName} { @content; }
  @-ms-keyframes #{$animationName} { @content; }
  @keyframes #{$animationName} { @content; }
}

@include keyframes(sp-loading-animation) {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1584px;
  }
}


.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 100px;
  color: white;
  pointer-events: none;
  z-index: 5;

  .sp-loading {
    z-index: 7;
    background-image: url("/assets/img/loadingSprite.png");
    display: inline-block;
    height: 54px;
    width: 71px;
    @include cross(animation, sp-loading-animation 1s steps(22) infinite);

    &.ng-animate {
      -webkit-animation: none 0s;
      animation: none 0s;
    }

    &.ng-enter {
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      &.ng-enter-active {
        opacity: 1;
      }
    }

    &.ng-leave {
      transition: opacity 0.2s ease-in-out;
      opacity: 1;
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }
}

.product-preview {
  position: absolute;
  color: black;
  background-color: rgba(187, 187, 187, 0.7);
  padding: 10px 20px 10px 10px;
  top: 30px;
  left: 30px;
  box-shadow: 2px 2px 10px 1px rgba(136,136,136,1);
  user-select: none;
  max-width: 270px;

  .close-product-preview {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .question {
    text-align: center;
  }

  .product-image-container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    left: 50%;
    background-color: white;
    transform: translate(-50%, 0);

    .product-image {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}

.sp-done-button {

  display: inline-block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  background-color: #623a86;
  color: white;
  border: 5px solid white;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.375*18vh;
  right: 1.8vh;
  bottom: 1.8vh;
  height: 13.5vh;
  width: 13.5vh;
  font-size: 6.3vh;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: default;

    &:active {
      pointer-events: none;
    }
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);

    .sp-done-default {
      opacity: 0;
      @include cross(transform, scale(0.5) rotate(-180deg));
    }

    .sp-done-hover {
      opacity: 1;
      @include cross(transform, scale(1) translate(-50%, -50%));
    }
  }

  .sp-done-hover {
    font-size: 4.5vh;
    transition: all 0.2s ease-out 0s;
    opacity: 0;
    @include cross(transform, scale(1.5) rotate(90deg) translate(-40%, 40%));
  }

  .sp-done-default {
    font-size: 3vh;
    transition: all 0.2s ease-out 0s;
    opacity: 1;
  }
}

.flip-list-move {
  transition: transform 0.5s;
}
