.sp-modal {
  background-color: #CCCCCC;
  font-size: 16px;
  &.sp-modal-login {
    overflow: hidden;
  }
}

.sp-modal-wrapper {
  background-color: white;
  color: #666;
  text-align: center;
  padding: 19.5px;

  &.no-padding {
    padding: 0 0 20px 0;
  }

  .sp-modal-headline {
    font-size: 21px;
    font-weight: 300;
    background: #7e52a2;
    color: white;
    padding: 18px;
  }

  .sp-modal-message {
    margin-top: 28px;
    font-size: 16px;
  }

}

.timer {
  position: relative;
  top: 100px;
  font-family: Roboto;
  font-style: italic;
  font-size: 30px;
  color: #555555;
}

.inactivity-timer {
  transform: rotate(90deg) rotateY(180deg);

  .circle-animation {
    stroke-dasharray: 377;
  }
}

.chances-left {

  .chances-left-counter {
    color: #d32f2f;
    font-size: 30px;
  }
}

.sp-modal-commands {
  text-align: right;
  padding: 19.5px;
  display: flex;

  &.sp-modal-login-commands {
    position: relative;
  }

  & > span {
    margin-right: 19.5px;
    color: #623a86;
  }

  .sp-flex-grow {
    flex: 1 1 auto;
  }

  .sp-flex-shrink {
    flex: 0 1 auto;
  }

  &.sp-modal-commands-cancel {
    .sp-btn:first-child {
      float: left;
    }
  }

  .sp-btn {
    background-color: #ffffff;
    color: #623a86;
    font-size: 14px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    padding: 15px 16px 15px 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
    user-select: none;

    &[disabled] {
      cursor: default;
      pointer-events: none;
      color: #aaa;
      background-color: rgba(255, 255, 255, 0.25);
    }

    &:hover {
      background-color: #fffddd;
      color: #623a86;
      box-shadow: 0px 1px 1px 0px #888;
    }

    &:active {
      box-shadow:  0px 0px 0px 0px #888;
    }

    &.sp-btn-enter {
      border-radius: 6px;
      padding: 15px 30px 15px 25px;

      &:after {
        position: absolute;
        right: 1em;
        top: 50%;
        margin-top: -0.5em;
        color: rgba(255, 255, 255, 0.5);

        font: normal normal normal 17px ionicons !important;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f10a";
      }

      &[disabled] {
        background-color: #eee;
        color: #888;
      }
    }

    &.sp-btn-purple {
      background-color: #804BAA;
      color: #eeeeee;

      &:hover {
        background-color: #623a86;
      }
    }

  }
}