<div class="sp-modal">
    <div class="sp-modal-wrapper no-padding">
        <div class="sp-modal-headline">
            Are you Here?
        </div>
        <div class="sp-modal-message">
            <span>This Task will terminate in</span>
            <br>
        </div>
        <div class="timer">
            {{timer | date: 's.SSS'}}
        </div>
        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg" class="inactivity-timer">
            <g>
                <circle id="circle" class="circle-animation" r="60.0014135" cy="81" cx="81" stroke-width="8" stroke="#d32f2f" fill="none"/>
            </g>
        </svg>
        <div class="chances-left">
            <span class="chances-left-counter">{{numberOfTries}}</span>{{numberOfTries !== 1 ? ' tries' : ' try'}} left
        </div>
    </div>
    <div class="sp-modal-commands sp-flex-row">
        <div class="sp-flex-grow"></div>
        <div class="sp-btn sp-btn-enter sp-btn-purple sp-flex-shrink" (click)="continue()" *ngIf="numberOfTries">
            <span translate>Continue</span>
        </div>
    </div>
</div>
