<div class="loading-screen">
    <img class="sp-trax-bg" src="/assets/img/traxLogo.svg">
    <div class="loading-video">
        <video src="/assets/video/loadingAnimation-540x540.mp4" autoplay loop></video>
    </div>

    <img class="diamond-left" src="/assets/img/Diamond-left.png">
    <img class="diamond-middle" src="/assets/img/Diamond-middle.png">
    <img class="diamond-right" src="/assets/img/Diamond-right.png">
</div>