.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.loading-video {
  position: absolute;
  top: 41%;
  width: 100%;
  text-align: center;

  @media (max-width: 480px) {
    top: 50%;
  }

  @media (max-width: 1040px) {
    video {
      width: 200px;
    }
  }

  @media (min-width: 1400px) {

    video {
      width: 500px;
    }
  }
}

.diamond-left {
  position: absolute;
  bottom: 0;
  left: 10%;
  user-select: none;

  @media (max-width: 480px) {
    display: none;
  }
}

.diamond-middle {
  position: absolute;
  top: 0;
  width: 600px;
  right: 10%;
  user-select: none;


  @media (max-width: 1040px) {
    top: -11%;
    right: -11%;
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.diamond-right {
  position: absolute;
  bottom: 100px;
  right: 50px;
  user-select: none;

  @media (max-width: 480px) {
    display: none;
  }
}

.sp-trax-bg {
  position: fixed;
  height: 70px;
  bottom: 19.5px;
  left: 19.5px;
}
