<div>
    <button [ngClass]="{'chosen': answer === 'yes'}" (click)="onAnswer.emit(YesNo.YES)">
        <u>Y</u>ES
    </button>
    <button [ngClass]="{'chosen': answer === 'no'}" (click)="onAnswer.emit(YesNo.NO)">
        <u>N</u>O
    </button>
</div>