:host {
  button {
    background-color: #7a3db3;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 13px;
    border-radius: 3px;
    margin: 0 5px 0 5px;

    &.chosen {
      background-color: #9ae89a;
    }
  }
}