<span class="se-header-dropdown-envelope se-header-dropdown-envelope-only-header trax-tst-envelope">
    <div class="se-header-dropdown-container">
        <span class="se-header-icon">&nbsp;
            <i class="trax-icons {{icon}}"></i>
        </span>
        <span class="se-header-text trax-tst-project-name">
            <span class="se-dropdown-prefix">
            </span>
            <span class="se-header-text">{{ titleText }}</span>
        </span>
        <span class="se-header-icon se-header-dropdown-separator">&nbsp;
        </span>
    </div>
</span>