.se-header-dropdown-envelope {
  height: 100%;
  display: inline-block;

  &:hover:not(.se-header-dropdown-envelope-only-header) {
    background: #7C7974;
    cursor: pointer;
  }
  .se-header-dropdown-container {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;

    .se-header-dropdown-separator {
      border-right: 2px solid #444443;
    }
  }
}

.se-header-icon {
  display: inline-block;
  position: relative;
  height: 100%;
  margin-right: 15px;
  margin-left: 15px;

  & > i {
    position: absolute;
    font-size: 1.375rem;
    color: #AAA;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.se-header-text {
  top: 6px;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}