:host{
  width: 100%;

  // remove the arrow in input number button
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  // ---------------------------------------

  ::ng-deep{
    .mat-radio-outer-circle {
      border: solid 1px #cfcfcf;
    }

    .mat-radio-inner-circle {
      background-color: #06afba !important;
    }
    .mat-radio-button{
      width: 100%;
    }
  }


  font-size: 16px;
  letter-spacing: -0.07px;
  color: rgba(0, 0, 0, 0.87);
  input{
    margin: 0px 10px;
    width: 50px;
  }
}