<mat-radio-group [(ngModel)]="answer.option" (change)="onAnswer.emit(answer)">
    <mat-radio-button appHotkey [content]="question.yesAnswer" [value]="AnswerOptions.YES" (change)="answer.value=undefined">
        <span></span>
    </mat-radio-button>
    <mat-radio-button appHotkey [content]="question.cantTellAnswer" [value]="AnswerOptions.CANT_TELL" *ngIf="question.cantTellAnswer" (change)="answer.value=undefined">
        <span></span>
    </mat-radio-button>
    <mat-radio-button appHotkey [content]="question.noAnswer" [value]="AnswerOptions.NO" *ngIf="!question.returnValue" (change)="answer.value=undefined">
        <span></span>
    </mat-radio-button>
    <mat-radio-button #withInputRadioButton appHotkey [content]="question.noValueAnswer" [value]="AnswerOptions.NO" *ngIf="question.returnValue">
        <span></span>
        <input #inputEl *ngIf="question.returnValue" [placeholder]="question.valuePlaceHolder" matInput [type]="question.valueType" autocomplete="off"
               (focus)="answer.option=AnswerOptions.NO" [(ngModel)]="answer.value" >
    </mat-radio-button>
</mat-radio-group>